//add hover to all buttons
@each $name, $hex in $theme-colors {
  .wp-block-button__link.has-#{$name}-background-color {
    @include hover() {
      @include gradient-bg(darken($hex, 10%));
    }
  }
}
