.lg-scroll-to-top{
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    padding: 12px 13px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    i{
    	font-size: 15px;
    }
}

.slick-slider{
    .slick-next{
        z-index: 2;
        right: $slick-arrow-position;
        &:before{
            font-weight: $slick-arrow-font-weight;
            font-size: $slick-arrow-font-size;
        }
    }
    .slick-prev{
        z-index: 2;
        left: $slick-arrow-position;
        &:before{
            font-weight: $slick-arrow-font-weight;
            font-size: $slick-arrow-font-size;
        }
    }
}
