.gform_wrapper{
	max-width: $gform_max_width !important;
	
	@if $gform_label_display != 'true'{
		.gfield_label{
			display: none !important;
		}
	}

	.gform_footer{
		input[type=submit]{
			@extend .btn-#{$gform_submit_button};
			@extend .btn;
		}
	}
}