.dropdown-menu {
  @include media-breakpoint-down($nav-breakpoint-down) {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ababab;
    padding: .6rem 0 .6rem .6rem;
  }
}

.mobile-toggle {
  @include media-breakpoint-up($nav-breakpoint-up) {
    display: none;
  }
}

.main-navigation {
  background-color: $navbar-default-bg;

  > .navbar {
    @extend .navbar-expand-#{$nav-breakpoint-up};

    @include media-breakpoint-up($nav-breakpoint-up) {
      align-items: normal;

      .navbar-collapse {
        align-items: normal;
      }
    }
  }

  .navbar-nav {
    a.nav-link {
      color: $navbar-font-color;
      opacity: $navbar-font-opacity;
      text-transform: $navbar-text-format;
    }

    a {
      @include font-size($fs-map: $navbar-font-sizes, $fs-breakpoints: $grid-breakpoints);
    }
  }

  @include media-breakpoint-up($nav-breakpoint-up) {
    .nav-item, a.nav-link {
      display: flex;
    }
    a.nav-link {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      &:hover {
        color: #fff;
        background-color: theme-color('primary');
      }
    }
  }
  @include media-breakpoint-down($nav-breakpoint-down) {
    & {
      .navbar {
        border: 0;

        .navbar-collapse {
          margin: 0;

          a {
            color: $navbar-font-color-xs;
            opacity: $navbar-font-opacity-xs;
            text-transform: $navbar-text-format-xs;
          }
        }

        .navbar-nav {
          > li {
            > a {
              padding: $spacer $spacer;
              border-bottom: 1px solid #ababab;
            }

            &:last-child {
              > a {
                border-bottom: 0;
              }
            }

            .dropdown-toggle {
              display: flex;
              align-items: center;
              justify-content: space-between;

              &::after {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}
