.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none !important;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;

  &:before, &:after {
    display: block;
    content: "";
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
  }
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: $hamburger-menu-color;
}

.hamburger--squeeze {
  .hamburger-inner {
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: 75ms;

    &:before {
      transition: top 75ms ease .12s, opacity 75ms ease;
    }

    &:after {
      transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
    }
  }
}

.hamburger.is-active {
  .hamburger-inner {
    background-color: $hamburger-menu-color;

    &:before, &:after {
      background-color: $hamburger-menu-color;
    }
  }
}

.hamburger--squeeze.is-active {
  .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(45deg);
    &:before {
      top: 0;
      transition: top 75ms ease, opacity 75ms ease .12s;
      opacity: 0;
    }
    &:after {
      bottom: 0;
      transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
      transform: rotate(-90deg);
    }
  }
}
