.blog{
	.blog_masonary{
		.blog_masonary_item{
			width: 100%;
			box-sizing: border-box;
			>div{
				border: 1px solid #c6901b;
			}

			@include media-breakpoint-up(sm){
				width: 50%;
			}

			@include media-breakpoint-up(md){
				width: 33.33%;
			}

			@include media-breakpoint-up(lg){
				width: 25%;
			}
		}
	}
	.blog-banner{
		width: 100%;
		img{
			@extend .img-full;
			@extend .img-fit;
		}
	}
	hr{
		width: 100%;
	}
	.arrow-link {
		color: #000;
		cursor: pointer;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		font-size: 11px;
	}

	.link--arrowed {
		display: inline-block;
	}
	.link--arrowed .arrow-icon {
		position: relative;
		top: -1px;
		transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		vertical-align: middle;
	}
	.link--arrowed .arrow-icon--circle {
		transition: stroke-dashoffset 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		stroke-dasharray: 95;
		stroke-dashoffset: 95;
	}
	.link--arrowed:hover .arrow-icon {
	  -webkit-transform: translate3d(5px, 0, 0);
			  transform: translate3d(5px, 0, 0);
	}
	.link--arrowed:hover .arrow-icon--circle {
	  stroke-dashoffset: 0;
	}

	.arrow-link{
		color: theme-color('secondary');
	}
	.arrow-link svg g,{
	    stroke: theme-color('secondary');
	}
}

.blog.single{
	.blog-banner{
		position: relative;
		.overlay{
			position: absolute;
			width: 90%;
			max-width: 400px;
			padding: 20px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}