.flexible-content{

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.flexible-content-slider{
		width: 100%;

		img{
			width: 100%;
		}
	}

	.media-image{
		width: 100%;
	}

	.embed-responsive{
		>iframe{
			@extend .embed-responsive-item;
		}
	}

	.variable-height{
		.lg-gallery{
			height: 100%;

			.slick-list{
				height: 100% !important;

				.slick-track{
					height: 100%;
				}

				img{
					height: 100%;
					object-fit: cover;
					display: block;
				}
			}
		}
		>img{
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
	.lg-gallery{
		.caption{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 5px $spacer;
			background-color: rgba($slider-caption-background, .7);
		}
	}
}

.order-xs-initial{
	@include media-breakpoint-up(xs){
		order: initial;
	}
}

.order-sm-initial{
	@include media-breakpoint-up(sm){
		order: initial;
	}
}

.order-md-initial{
	@include media-breakpoint-up(md){
		order: initial;
	}
}

.order-lg-initial{
	@include media-breakpoint-up(lg){
		order: initial;
	}
}

.order-xl-initial{
	@include media-breakpoint-up(xl){
		order: initial;
	}
}