// Site Footer 
#site-footer{

	// Main Content Area
	#site-footer-main{
		width: 100%;
		background-color: $site-footer-bg-color;
		color: $site-footer-color;
	}


	// The tiny site legal footer area.
	#site-legal{
		width: 100%;
		background-color: $site-legal-bg-color;
		color: $site-legal-color;
		>div{
			@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);

			a{ color: $site-legal-link-color; }

			.site-info{
				text-align: center;

				@include media-breakpoint-up(sm){
					text-align: left;
					margin: 0;
				}
			}

			.site-longevity{
				text-align: center;


				@include media-breakpoint-up(sm){
					text-align: right;
				}
			}
		}
	}

}