#site-header{
	box-shadow: $header-box-shadow;

  .navbar-brand{
    max-width: 260px;
  }

	.mobile-toggle{
		font-size: $mobile-toggle-size;
		cursor: pointer;
	}

	.utility-bar{

		@include font-size($fs-map: $utility-bar-font-size, $fs-breakpoints: $grid-breakpoints);
		background-color: $utility-bar-background-color;
		color: $utility-bar-color;
		padding: $utility-bar-padding;

		>div{
			>div{
				display:flex;
				align-items:center;
			}
		}

		a{
			color: $utility-bar-color;
		}

		i{
			color: $utility-bar-icon-color;
			font-size: $utility-bar-icon-size;
		}
	}

  .navbar{
    padding: $header-padding;

  }

	.header-main{
    background-color: $header-background-color;

		.site-branding{
			.logo{
				width: $header-logo-width;

				@include media-breakpoint-up(sm){
					width: $header-logo-width-sm;
				}

				@include media-breakpoint-up(md){
					width: $header-logo-width-md;
				}

				img{
					@extend .img-full;
				}
			}
		}

		@include media-breakpoint-down($nav-breakpoint-down){

			&{
				padding:0;

				.site-branding{
					display:flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
				}
			}


			.main-navigation{
				width:100%;
			}

		}
	}
}

#main-navbar{
  top: $offcanvas-top;
}

html.sticky-header{
	#site-header{
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: $zindex-sticky;

		@include media-breakpoint-down($nav-breakpoint-down){
			max-height: 100vh;
		}
	}
}
