// Font Awesome

$fa-font-path:	"~@fortawesome/fontawesome-free/webfonts" !default;

// Loading Screen

$loading-screen-background: #666 !default;

// Slick Slider

$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "Font Awesome 5 Free" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;

$slick-prev-character: "\f053" !default;
$slick-next-character: "\f054" !default;
$slick-arrow-font-size: 30px !default;
$slick-arrow-font-weight: 900 !default;
$slick-arrow-position: 10px;
$slick-arrow-color: white !default;

$slick-dot-character: "\2022" !default;
$slick-dot-size: 12px !default;
$slick-dot-color: #fff !default;
$slick-dot-color-active: $slick-dot-color !default;

$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.7 !default;

$slider-caption-background: theme-color('primary') !default;
$slider-dot-bottom-offset: 15px !default;
$slick-dot-height: 25px !default;
$slick-dot-width: 25px !default;
$slick-dot-line-height: 25px !default;

$slick-arrow-offset: 15px !default;
$slick-arrow-z-index: 2 !default;

// Gravity Form

$gform-max-width: 100% !default;
$gform-label-display: false !default;
$gform_submit_button: 'primary' !default;

// Woocommerce

$woocommerce-product-image-height: 400px !default;


//Hamburger menu
$hamburger-menu-color: theme-color('primary') !default;
$offcanvas-menu-bg-color: theme-color('primary') !default;
