#fontawesome-modal-wrapper{
    position: fixed;
    width: 90vh;
    max-width: 500px;
    height: 90vh;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 3px #ababab;
    background-color: #fff;
    z-index: 9999;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    display: none;
    overflow: scroll;

    .fa-toolbar{
        padding: 30px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #fontawesome-modal{
        display: flex;
        flex-wrap: wrap;
        padding: 30px;

        >.fontawesome-icon{
        	width: 30px;
        	padding: 5px;
        }
    }

    .fa-close{
        cursor: pointer;
    }
}