.lg-admin{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	position: relative;
	box-sizing: border-box;

	.lg-list-items{
		position: relative;
		.overlay{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			padding-left: 15px;
			padding-right: 15px;
			box-sizing: border-box;
			a{
				margin-bottom: 5px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.updated{
		display: none;
	}
}

.lg-site-config{
	table{
		td{
			border-top: 0;
			vertical-align: middle !important;
		}
	}
}


.btn-equal{
	width: 120px;
}

a{
	text-decoration: none;
}

body[class*="admin_page_longevity"]{
	height: auto;
	background: #fff;
}

div[class*="col-"]{
	box-sizing: border-box;
}

.acf-repeater{
	>.acf-table{
		tbody{
			tr:nth-child(odd){
				td:first-child{
					background-color: black;
					color: #fff;
				}
			}
			tr:nth-child(even){
				td:first-child{
					background-color: #fff;
					color: black;
				}
			}
		}
	}
}

.set_image{
	width: 150px;
}

.acf-field[data-name=grid_list]{
	.acf-row{
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		>.acf-row-handle.order{
			display: none;
		}
		>.acf-row-handle.remove{
			position: absolute;
		    top: 15px;
		    right: 20px;
		    padding: 0;
		    background: transparent;
		    border: 0;
			.-plus{
				display: none;
			}
			.-minus{
				display: block;
			    position: relative;
			    top: 0;
			    margin: 0;
			}
		}
		>.acf-fields{
			width: 100%;
		}
	}
}

