#wp-admin-bar-lg_framework{
	>.ab-item{
		background-image: url(/wp-content/themes/wp-theme-parent/assets/dist/images/LG_Logo_White.png) !important;
		padding: 0 0 0 28px !important;
	    background-repeat: no-repeat !important;
	    background-size: 23px !important;
	    background-position: 0% 50% !important;
	    margin: 0 10px !important;
	}
}