// --- Color system

		$colors: ();
		$colors: map-merge((
			"white": #fff,
			"dark": #000,
			"blue": #2D3258,
			"green": #29BAB3
		), $colors);

		$theme-colors: ();
		@each $color, $value in $colors {
			$theme-colors: map-merge((
			   $color: $value
			), $theme-colors);
		}

$fa-font-path:	"../fonts";