// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	max-width: 100%;
  height: auto;
}

div[id*="attachment"]{
	max-width: 100%;
	img{
		height: auto;
	}
}

p:last-child{
	margin-bottom: 0;
}

body{
	word-break: break-word;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
